<html>
    <header>
        <title>Senhor Incorreta</title>
        <script>
            confirm("Senha incorreta")
            window.location.replace("/room/<%= roomId %>")
        </script>
    </header>
</html>